<div class="px-4 sm:px-6 lg:px-8">
  <div class="inline-block min-w-full py-2 align-middle">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Razão Social</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">CNPJ</th>           
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @companies.each do |company| %>
            <tr>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= company.legal_name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= company.cnpj %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>